<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%#= javascript_include_tag "main" %>
<%#= javascript_include_tag "main", "/sum/sum" %>
<%#= stylesheet_link_tag "main" %>
<%#= image_tag "1.png", {height: 400} %>
<%#= video_tag "video_1.mp4" %>
<%#= audio_tag "first.mp3" %>
